* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001f00;
}

.navbar-brand img{
    width: 55px;
    height: auto;
}

.navbar{
    background-color:#002e00;
    padding: 1px 0;
    align-items: center;
}

.nav-link{
    font-family: "VT323", monospace;
    letter-spacing: 5px;
    font-size: 33px;
    color:#004d00;
}

.nav-link:hover {
    color: white;
}
